{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JOBPURPOSE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="{%static "css/abc.css" %}">-->
</head>
<body>
<nav class="navbar navbar-default navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" >VEBBLER_please_choose my_**services__</a>
        </div>
        <ul class="nav navbar-nav">
            <li> <a href="job">jobs</a> </li>
            <li><a href="empolyes"> empolyes</a> </li>
            <li><a href="ios" >ios</a> </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="coustmer" >COUTMERS</a> </li>
        <li><a href="service">SERIVIES</a></li>


            <li><a href="vieww">SIGNUP</a> </li>
        </ul>
    </div>

</nav>
{%block body_block %}
{%endblock%}
</body>
</html>